@model Cistell_de_la_compra.Models.UsuariLogin

<section class="login">
    <h1>Login</h1>
    <div>

		<form asp-action="Login" method="post">

			<div>
				<label asp-for="Email"></label>
				<input asp-for="Email" class="form-control" name="email" />
				<span asp-validation-for="Email" class="text-danger"></span>
			</div>

			<div>
				<label asp-for="Password"></label>
				<input asp-for="Password" class="form-control" name="password" />
				<span asp-validation-for="Password" class="text-danger"></span>
			</div>



			<button type="submit" class="btn btn-primary">Login</button>

		</form>

		<br /><br /><br /><br /><br />

		@if (TempData["ErrorMessage"] != null)
		{
			<div class="alert alert-danger">
				@TempData["ErrorMessage"]
			</div>
		}
    </div>
</section>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}