@model LLibresCatala.ViewModels.AutorNou

@{
    ViewData["Title"] = "Nou Autor";
}

<h1>Nou Autor</h1>

<form asp-action="Nou">
    <h4>Autor</h4>
    <div class="row">
        <div class="col-md-4">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Autor.Nom" class="control-label"></label>
                <input asp-for="Autor.Nom" class="form-control" />
                <span asp-validation-for="Autor.Nom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Autor.DataNaixement" class="control-label"></label>
                <input asp-for="Autor.DataNaixement" class="form-control" />
                <span asp-validation-for="Autor.DataNaixement" class="text-danger"></span>
            </div>
        </div>
    </div>

    <hr />
    <h4>Llibre</h4>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Llibre.ISBN" class="control-label"></label>
                <input asp-for="Llibre.ISBN" class="form-control" />
                <span asp-validation-for="Llibre.ISBN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Llibre.Titol" class="control-label"></label>
                <input asp-for="Llibre.Titol" class="form-control" />
                <span asp-validation-for="Llibre.Titol" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Llibre.NumPag" class="control-label"></label>
                <input asp-for="Llibre.NumPag" class="form-control" />
                <span asp-validation-for="Llibre.NumPag" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Llibre.Preu" class="control-label"></label>
                <input asp-for="Llibre.Preu" class="form-control" />
                <span asp-validation-for="Llibre.Preu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <br />
                <input type="submit" value="Nou" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>
<hr />
<div>
    <a asp-action="Inici">Tornar a la llista</a>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
