@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Exemple Vista</h1>

<p>

    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vestibulum, purus vitae bibendum semper, justo libero mattis est, dignissim dignissim diam nisi non diam. In viverra, turpis sed aliquam eleifend, ante odio maximus orci, lobortis sagittis lorem justo sit amet diam. Donec non ornare massa. Donec eleifend venenatis risus non placerat. Etiam faucibus nunc sed purus dapibus tincidunt. Praesent id augue posuere, aliquam massa ac, luctus leo. Pellentesque urna velit, suscipit ut posuere sed, consequat vel dui. Quisque cursus dui sem, quis maximus velit commodo non.

    Cras non tortor eu nunc commodo gravida. Nunc vehicula, mi ac fringilla imperdiet, purus nulla posuere justo, maximus feugiat velit orci in nisi. Aliquam erat volutpat. Integer cursus suscipit metus, eu tempus sem semper nec. Etiam condimentum, risus vel sagittis suscipit, diam arcu varius massa, in molestie est enim vel quam. Quisque tellus ex, iaculis in augue nec, pulvinar placerat orci. Fusce faucibus rhoncus tempor. Mauris placerat finibus augue. Pellentesque quis justo congue, aliquam mauris non, egestas urna. Cras at quam luctus, hendrerit orci at, interdum massa.

    Nunc tristique sem vitae turpis varius, vitae bibendum urna pretium. Integer fermentum urna dolor, quis suscipit odio mattis et. Nam et velit rutrum, vulputate nisl in, tempor odio. Duis non felis vitae ligula bibendum ultricies in non sapien. Etiam in pulvinar ligula. Etiam id est dignissim, convallis neque non, sollicitudin magna. Nulla tincidunt ipsum sit amet blandit convallis. Nunc egestas tempor sapien, sed suscipit felis mollis quis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vivamus pulvinar elit non lorem interdum, vel tristique massa malesuada. Duis tincidunt id felis sit amet gravida. Vestibulum non imperdiet nulla. In leo est, pharetra eget sem in, facilisis porta ante. Integer venenatis, leo ut lacinia dapibus, felis justo tempor mi, ut suscipit lacus risus at est. Aliquam ac magna.
</p>