@model Alumne
<h1>Formulari de alumnes</h1>

<p>Aixo es un formulari on s'inserten dades i s'enmagatzemen</p>

<br />
<br />
<br />

<h3>Formulari</h3>

<br />

<form asp-controller="Alumne" asp-action="Index" method="post">
	<div asp-validation-summary="All" class="text-danger"></div>
	<label asp-for="Nom"></label>
	<input asp-for="Nom" /><span asp-validation-for="Nom" class="text-danger"></span><br />

	<label asp-for="Cognoms"></label>
	<input asp-for="Cognoms" /><span asp-validation-for="Cognoms" class="text-danger"></span><br />

	<label asp-for="Edat"></label>
	<input asp-for="Edat" type="number"/><span asp-validation-for="Edat" class="text-danger"></span><br />

	<label asp-for="Email"></label>
	<input asp-for="Email" type="email" /><span asp-validation-for="Email" class="text-danger"></span><br />

	<label asp-for="DataNaixement">Data de naixement</label>
	<input asp-for="DataNaixement" max="@ViewBag.FechaMaxima"  /><span asp-validation-for="DataNaixement" class="text-danger"></span><br />

	<label asp-for="Sexe"></label>
	<select asp-for="Sexe" asp-items="Html.GetEnumSelectList<Genere>()"> <br />
		<option>cap</option>
	</select> <span asp-validation-for="Sexe" class="text-danger"></span><br />

	<label asp-for="Tipus"></label>
	<input asp-for="Tipus" type="radio" checked value="Pelicules">
	<label>Pelicules</label><br />
	<input asp-for="Tipus" type="radio" value="Series">
	<label>Series</label>
	<span asp-validation-for="Tipus" class="text-danger"></span><br />

	<button asp-controller="Alumne" asp-action="Index">Enviar</button>
</form>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
